<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>

<body>
    <div>
        <h3><u>REVIEW ANSWERS</u></h3>
    </div>

    <div>
        <ol>
            <li>Capital of Tamilnadu&emsp;<button class="btn btn-primary">Madurai</button><button class="btn btn-success">Chennai</button><button class="btn btn-primary">Coimbatore</button><button class="btn btn-primary">Nagarkovil</button></li>
            <br />
            <li>Capital of West Bengal&emsp;<button class="btn btn-primary">Durgapur</button><button class="btn btn-primary">Cooch Behar</button><button class="btn btn-primary">Darjeeling</button><button class="btn btn-success">Kolkata</button></li>
            <br />
            <li>Capital of Kerala&emsp;<button class="btn btn-success">Trivandrum</button><button class="btn btn-primary">Kochi</button><button class="btn btn-primary">Kozhikode</button><button class="btn btn-primary">Palakkad</button></li>
            <br />
            <li>Capital of Karnataka&emsp;<button class="btn btn-primary">Mysore</button><button class="btn btn-primary">Mangalore</button><button class="btn btn-success">Bangalore</button><button class="btn btn-primary">Bidar</button></li>
            <br />
            <li>capital of Maharastra&emsp;<button class="btn btn-success">Mumbai</button><button class="btn btn-primary">Pune</button><button class="btn btn-primary">Nagpur</button><button class="btn btn-primary">Nashik</button></li>
        </ol>
    </div>


    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>


</body>

</html>