<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>

<body>
    <div>
        <h4>STATE CAPITAL QUIZ</h4>
        <table border="1px">
            <tr>
                <td><input type="text" placeholder="Username" [(ngModel)]="quiz.username"></td>
            </tr>

        </table>
    </div>
    <br />
    <div>
        <ol>
            <li>Capital of Tamilnadu&emsp;<button (click)="ques1a()" class="btn btn-primary">Madurai</button><button
                    (click)="ques1b()" class="btn btn-primary">Chennai</button><button (click)="ques1c()"
                    class="btn btn-primary">Coimbatore</button><button (click)="ques1d()"
                    class="btn btn-primary">Nagarkovil</button></li>
            <br />
            <li>Capital of West Bengal&emsp;<button (click)="ques2a()" class="btn btn-primary">Durgapur</button><button
                    (click)="ques2b()" class="btn btn-primary">Cooch Behar</button><button (click)="ques2c()"
                    class="btn btn-primary">Darjeeling</button><button (click)="ques2d()"
                    class="btn btn-primary">Kolkata</button></li>
            <br />
            <li>Capital of Kerala&emsp;<button (click)="ques3a()" class="btn btn-primary">Trivandrum</button><button
                    (click)="ques3b()" class="btn btn-primary">Kochi</button><button (click)="ques3c()"
                    class="btn btn-primary">Kozhikode</button><button (click)="ques3d()"
                    class="btn btn-primary">Palakkad</button></li>
            <br />
            <li>Capital of Karnataka&emsp;<button (click)="ques4a()" class="btn btn-primary">Mysore</button><button
                    (click)="ques4b()" class="btn btn-primary">Mangalore</button><button (click)="ques4c()"
                    class="btn btn-primary">Bangalore</button><button (click)="ques4d()"
                    class="btn btn-primary">Bidar</button></li>
            <br />
            <li>capital of Maharastra&emsp;<button (click)="ques5a()" class="btn btn-primary">Mumbai</button><button
                    (click)="ques5b()" class="btn btn-primary">Pune</button><button (click)="ques5c()"
                    class="btn btn-primary">Nagpur</button><button (click)="ques5d()"
                    class="btn btn-primary">Nashik</button></li>
        </ol>
    </div>

    <div>
        <button (click)="addQuiz()" class="btn btn-outline-success">SUBMIT</button>
    
        
    </div>
    


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

</body>

</html>